/* for experiment ke liye */
/* .content{ 
    position:relative;
    margin: auto;
    font-size:8vw;
    
    padding-left:20px;
} */

/* .hello{
    position:relative;
    margin: auto;
    font-size:8vw; 
    text-align: center;
     padding-left:40px;
} */

/* #check:checked ~ .hh
{
  left: -20px;
}
  
#check:checked ~ .hh a span
{
  display: none;
}
  
#check:checked ~ .hh a
{
  font-size: 20px;
  margin-left: 165px;
  width: 100%;
} */