/*for project list*/
.project{
    text-align: center;
}
select:invalid{
    color: gray;
}
option{
    color: black;
}

.container
{
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

.cards{
    width: 150px;
    margin: auto;
    background-color: rgba(201, 133, 6, 0.815);
    display:inline-block;
    border-radius: 7px;
    text-align: center;
}

.cards:hover{
    box-shadow: 2px 2px 10px black;

}

.image img{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    margin-top: 5px;
    align-items: baseline;

}
.title{
    text-align: center;
}
.des{
    margin: 7px;
    text-align: center;
}

.bt{
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.bt:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
}