{% extends 'sidebarbase.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/hrhomepage.css' %}">
{% endblock head %}

{% block sidebarextra %}
<a href="#" ><i class="fas fa-desktop"></i><span> All Employees </span></a>
{% endblock sidebarextra %}

{% block content %}

<div class="project">
    <form action='{% url 'hrhomepage' %}' method="POST" >
        {% csrf_token %}
            <select class="selectpicker search-fields" name="selected_project">
                <option disabled="disabled" selected="selected">Select Project</option>
                {% for selected_project in project_search  %}
                    <option value="{{selected_project}}" name="selected_project">{{selected_project}}</option>
                    
                {% endfor %}
            </select>
            <a href="{% url 'hrhomepage' %}"><button>submit</button></a>
    </form>
</div><br><br><br>

{% comment %} <h1>{{project_search}}</h1> {% endcomment %}
{% comment %} {% if selected_value %} {% endcomment %}
{% for person in sel_project%}
    {% comment %} <h3> {{person.first_name}}</h3> {% endcomment %}
    <div class="cards">
        <div class="image">
            <img src="{{person.photos.url}}" alt="">
        </div>
        <div class="title">
            <p> Emp Name: {{person.first_name}} {{person.last_name}}</p>
        </div>
        <div class="des">
            <p>Emp ID: {{person.emp_id}}</p>
            <a href="#" class="bt">Read More...</a>
        </div>
    </div>
{% endfor %}
{% comment %} {% endif %} {% endcomment %}
{% comment %} {% endif %} {% endcomment %}
{% endblock content %}

{% block body %}
<script src = './static/js/cards.js'> </script>
{% endblock body %}




